{%  extends "::base.html.twig" %}
    {%  block title 'List' %}

    {%  block header %}
        <h1>Here is your list...</h1>
    {%  endblock %}

    {% block content %}
        {% for tweet in tweets %}
            <div class="panel panel-default">
                <div class="panel-body">
                   {{ tweet.message }}
                </div>
            </div>
        {% else %}
            Aucun tweet
        {% endfor %}

        <a href="{{ path('app_new_tweet') }}">+ New Tweet</a><br/>

    {% endblock %}

    {%  block footer %}
        {{ parent() }}
        blabla
    {%  endblock %}
